@import "../../themes.scss";

.employee-attendance {
    .slash {
        width: 4px;
        height: 45px;
        background-color: $primary-color;
    }

    .color {
        color: $primary-color;
        font-size: 22px;
        font-weight: bold;
    }

    .btn-add {
        border-radius: 10px;
        background-color: $primary-color;
        padding: 0px 8px;
        height: 40px;
        transition: 0.3s;

        &:hover {
            background-color: rgb(71, 166, 255);
            transition: 0.3s;
            transform: translateY(-0.2em);
            box-shadow: 0 0.4em 0.4em -0.4em $primary-color;
        }

        .style-add {
            color: $secondary-color;
            font-size: $font-Size-Subtitle;
            font-weight: 400;
            text-transform: none;
        }
    }

    .main-containner {
        margin-top: 20px;

        .profile-container {
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;

            .profile {
                justify-content: center;

                .avater-image {
                    margin-top: 10px;
                    width: 160px;
                    height: 160px;
                }
            }

            .name-container-khmer {
                text-align: center;
                font-family: $font-second;
                font-size: $font-Size-title;
                margin-top: 10px;
            }
            .name-container {
                text-align: center;
                font-family: $font-title;
                font-size: $font-Size-title;
                font-weight: bold;
            }
            .position-container {
                text-align: center;
                font-family: $font-title;
                font-size: $font-Size-description;
            }
            .box-contact {
                padding: 10px;
                .contact-icon {
                    color: $primary-color;
                }
                .contact-icon-location {
                    color: $primary-color;
                    font-size: 30px;
                }
                .contact-des {
                    margin-top: 2px;
                    font-family: $font-title;
                    font-size: 14px;
                    font-weight: bold;
                }
            }
        }

        .leave-container {
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;

            .grid-leave {
                display: flex;
                justify-content: center;

                .box-leave {
                    border-right: 2px solid rgb(214, 214, 214);
                    width: 100%;

                    .leave-num {
                        font-family: $font-title;
                        text-align: center;
                        font-weight: bold;
                    }
                    .leave-public {
                        text-align: center;
                        font-family: $font-title;
                        color: #000;
                        font-size: $font-Size-description;
                    }
                    .leave-annual {
                        text-align: center;
                        font-family: $font-title;
                        color: green;
                        font-size: $font-Size-description;
                    }
                    .leave-unpaid {
                        text-align: center;
                        font-family: $font-title;
                        color: red;
                        font-size: $font-Size-description;
                    }
                }

                .last-box-leave {
                    width: 100%;

                    .leave-num {
                        font-family: $font-title;
                        text-align: center;
                        font-weight: bold;
                    }
                    .leave-permission {
                        text-align: center;
                        font-family: $font-title;
                        color: $primary-color;
                        font-size: $font-Size-description;
                    }
                }
            }
        }

        .table-attendance {
            margin-top: 20px;
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;

            .tablecell-container {
                background-color: $primary-color;
                color: #fff;
                font-family: $font-title;
                font-size: $font-Size-Subtitle;
                font-weight: bold;
                padding: 10px 20px;
                border: none;
            }

            .tablecell-body {
                color: #000;
                font-family: $font-title;
                font-size: $font-Size-description;
                padding: 10px 20px;
            }
        }
        .box-seemore {
            margin-top: 10px;
            display: flex;
            justify-content: center;
            .btn-seemore {
                font-family: $font-title;
                text-align: center;
                text-transform: none;
                width: 20%;
            }
        }
    }
}
