@import "../../themes.scss";

.employee-over-view {
    .employee-overview-header {
        color: $primary-color;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 15px;
        padding-left: 20px;
        // padding-top: 20px;
    }

    .slash {
        height: 50px;
        width: 1.5px;
        background-color: rgba(128, 128, 128, 0.25);
    }

    .employee-total {
        background-color: white;
        border-radius: 10px;
        padding: 20px;

        .header-number {
            color: #000;
            font-weight: bold;
            font-size: 25px;
        }
        .left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;
        }

        .right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;
        }
    }

    .employee-foriegner {
        background-color: white;
        border-radius: 10px;
        padding: 20px;

        .header-number {
            color: #000;
            font-weight: bold;
            font-size: 25px;
        }

        .left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;
        }

        .right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;
        }
    }
}
