@import "../themes.scss";

.shift-page {
    .css-13xfq8m-MuiTabPanel-root {
        padding: 0px;
    }
    .button-status {
        padding: 4px 0px;
        text-align: center;
        border-radius: 0px;
        border-radius: 8px;
        font-family: $font-title;
        text-transform: none;
        font-size: 16px;
        width: 100%;

        &:hover {
            transition: 0.3s;
            transform: translateY(-0.1em);
            box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
        }
    }

    .container-textField {
        display: flex;
        align-items: center;
        width: 300px;
        border-radius: 10px;
        background-color: #fff;

        .text-field {
            .MuiOutlinedInput-input {
                color: black !important;
            }

            .MuiInputLabel-root {
                color: black !important;
            }

            .css-1gywuxd-MuiInputBase-root-MuiOutlinedInput-root {
                @include mobile-large {
                    width: 150px;
                }
            }

            .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
                border-color: #fff;
            }

            :hover .MuiOutlinedInput-input {
                color: #fff;
            }

            :hover .MuiInputLabel-root {
                color: black;
            }

            :hover .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
                border-color: #fff;
            }

            .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-input {
                color: black;
            }

            .MuiInputLabel-root.Mui-focused {
                color: black;
            }

            .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
                border-color: #fff;
            }

            .css-1nv32ag-MuiButtonBase-root-MuiIconButton-root {
                @include mobile-large {
                    display: none;
                }
            }
        }
    }

    // material class
    .css-bijmy9 {
        @include laptop {
            width: 80%;
        }

        @include mobile {
            width: 100%;
        }

        @include mobile-large {
            width: 160px;
            margin-left: -20px;
        }
    }

    .css-i4bv87-MuiSvgIcon-root {
        @include mobile-large {
            font-size: 1em;
        }
    }

    .slash {
        width: 4px;
        height: 45px;
        background-color: $primary-color;

        @include laptop {
            height: 40px;
        }

        @include mobile-large {
            height: 40px;
            width: 2px;
            padding: 0px;
            margin: 0px;
        }
    }

    .color {
        color: $primary-color;
        font-size: $font-Size-title;
        font-weight: bold;
        @include laptop {
            font-size: 20px;
        }

        @include mobile-large {
            font-size: 16px;
        }
    }

    .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        color: $primary-color;
        width: 1.2em;

        @include laptop {
            width: 1em;
        }

        @include mobile-large {
            display: none;
        }
    }

    .btn-add {
        border-radius: 10px;
        background-color: $primary-color !important;
        padding: 0px 15px;
        color: $secondary-color;
        .style-add {
            color: $secondary-color;
            font-size: $font-Size-description;
            font-weight: bold;
        }
    }

    .container {
        margin-top: 20px;

        @include mobile-small {
            width: 640px !important;
        }

        @include mobile {
            width: 590px !important;
        }

        @include mobile-large {
            width: 380px !important;
        }

        .table {
            width: 100%;
            border-collapse: separate;
            display: table;
            overflow-x: auto;
            white-space: nowrap;
            border-spacing: 0px 8px;

            .header-row {
                .header-title {
                    padding: 10px;
                    border: none;
                    font-size: $font-Size-Subtitle;
                    color: $primary-color;
                    font-weight: bold;
                }
            }

            .body {
                box-shadow: none;
                background-color: white !important;

                :hover {
                    cursor: pointer;
                    background-color: rgb(200, 233, 255);
                }

                .body-row {
                    .body-title {
                        padding: 10px;
                        border: none;
                        font-size: $font-Size-description;

                        @include mobile-large {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}
